body {
    font-family: 'Source Sans Pro', sans-serif;
}

.content-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    height: 275px;
    background-color: white;
    width: 100%;
    z-index: 999;
    left: 0;
}

.title {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 20;
    margin: 0;
}

.subtitle {
    position: absolute;
    text-align: center;
    width: 250px;
    top: 50px;
    line-height: 16px;
}

#departure-times {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    max-width: 1080px;
    border-collapse: collapse;
    display: table;
    border-width: 0px;
    margin 0px;
    width:100%;
    padding:0px;
}

#departure-times tbody {
    border-width: 0px;
    margin 0px;
    width:100%;
    height: 100%;
    padding:0px;
}


.tag {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: transparent;
    display: block;
    position: absolute;
    z-index: 20;
    top: 0px;
    margin-left: -8px;
}

.train-begin, .train-end {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    z-index: 99;
}

.train-begin {
    left: -8px;
}

.train-end {
    left: auto;
    right: -8px;
}

.train-middle {
    height: 3px;
    position: absolute;
    display: block;
    top: 6px;
    left: 7px;
    right: 7px;
    width: auto;
    background-color: black;
}

.time-saved {
    background-color: #00FF00;
    width: 20px;
    height: 12px;
    position: absolute;
}

.tag:hover {
    border: 2px solid #666;
}

.tag-label {
    display: none;
    position: relative;
    top: -70px;
    left: 10px;
    text-align: center;
    width: 90px;
    margin-left: -25px;
    background-color: white;
    z-index: 99;
}

.stop {
    width: 2px;
    height: 12px;
    background-color: black;
    display: block;
    position: absolute;
    display: none;
}

.train-label {
    display: none;
    background-color: white;
    text-align: center;
    position: relative;
    top: -70px;
    left: 10px;
    z-index: 100;
}

#am-trips {
    height: 100vh;
    width: 40%;
    float: left;
}

#pm-trips {
    margin-top: 300px;
    height: auto;
    width: 100%;
    float: left;
    position: relative;
}

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.times {
    position: fixed;
    height: 100%;
    top: 275px;
    right: 0;
    left: 200px;
}

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: #ddd;
}

.time-marker {
    width: 6.6666666%;
    padding-left: 5px;
    padding-right: 0;
    height: 100vh;
    float: left;
    border-left: 1px solid #ddd;
}

.time-marker:first-child {
}

.trip-wrap {
    height: 34px;
    position: relative;
}

.trains {
    width: 100%;
    height: 18px;
    position: absolute;
}

.train-marker {
    width: 50px;
    padding-left: 0;
    padding-right: 0;
    height: 16px;
    float: left;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

.trains .train-marker:before {
    content: ' ';
    width: 30px;
    height: 16px;
    display: block;
    left: -14px;
    position: relative;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,666666+50,666666+100&0+0,0.25+46,1+48,1+52,0.25+54,0+100 */
    background: -moz-linear-gradient(left,  rgba(102,102,102,0) 0%, rgba(102,102,102,0.25) 46%, rgba(102,102,102,1) 48%, rgba(102,102,102,1) 50%, rgba(102,102,102,1) 52%, rgba(102,102,102,0.25) 54%, rgba(102,102,102,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.25) 46%,rgba(102,102,102,1) 48%,rgba(102,102,102,1) 50%,rgba(102,102,102,1) 52%,rgba(102,102,102,0.25) 54%,rgba(102,102,102,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.25) 46%,rgba(102,102,102,1) 48%,rgba(102,102,102,1) 50%,rgba(102,102,102,1) 52%,rgba(102,102,102,0.25) 54%,rgba(102,102,102,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00666666', endColorstr='#00666666',GradientType=1 ); /* IE6-9 */

}


.trains .train-marker--one:before {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9793a+0,f9793a+50,f9793a+100&0+0,0.25+46,1+48,1+52,0.25+54,0+100 */

/*
background: -moz-linear-gradient(left,  rgba(249,121,58,0) 0%, rgba(249,121,58,0.25) 46%, rgba(249,121,58,1) 48%, rgba(249,121,58,1) 50%, rgba(249,121,58,1) 52%, rgba(249,121,58,0.25) 54%, rgba(249,121,58,0) 100%);
background: -webkit-linear-gradient(left,  rgba(249,121,58,0) 0%,rgba(249,121,58,0.25) 46%,rgba(249,121,58,1) 48%,rgba(249,121,58,1) 50%,rgba(249,121,58,1) 52%,rgba(249,121,58,0.25) 54%,rgba(249,121,58,0) 100%);
background: linear-gradient(to right,  rgba(249,121,58,0) 0%,rgba(249,121,58,0.25) 46%,rgba(249,121,58,1) 48%,rgba(249,121,58,1) 50%,rgba(249,121,58,1) 52%,rgba(249,121,58,0.25) 54%,rgba(249,121,58,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9793a', endColorstr='#00f9793a',GradientType=1 );
*/

}

.trains .train-marker--two:before {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcb72b+0,fcb72b+50,fcb72b+100&0+0,0.25+46,1+48,1+52,0.25+54,0+100 */

/*
background: -moz-linear-gradient(left,  rgba(252,183,43,0) 0%, rgba(252,183,43,0.25) 46%, rgba(252,183,43,1) 48%, rgba(252,183,43,1) 50%, rgba(252,183,43,1) 52%, rgba(252,183,43,0.25) 54%, rgba(252,183,43,0) 100%);
background: -webkit-linear-gradient(left,  rgba(252,183,43,0) 0%,rgba(252,183,43,0.25) 46%,rgba(252,183,43,1) 48%,rgba(252,183,43,1) 50%,rgba(252,183,43,1) 52%,rgba(252,183,43,0.25) 54%,rgba(252,183,43,0) 100%);
background: linear-gradient(to right,  rgba(252,183,43,0) 0%,rgba(252,183,43,0.25) 46%,rgba(252,183,43,1) 48%,rgba(252,183,43,1) 50%,rgba(252,183,43,1) 52%,rgba(252,183,43,0.25) 54%,rgba(252,183,43,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcb72b', endColorstr='#00fcb72b',GradientType=1 );
*/
}

.trains .train-marker--three:before {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a2e3+0,00a2e3+50,00a2e3+100&0+0,0.25+46,1+48,1+52,0.25+54,0+100 */

/*
background: -moz-linear-gradient(left,  rgba(0,162,227,0) 0%, rgba(0,162,227,0.25) 46%, rgba(0,162,227,1) 48%, rgba(0,162,227,1) 50%, rgba(0,162,227,1) 52%, rgba(0,162,227,0.25) 54%, rgba(0,162,227,0) 100%);
background: -webkit-linear-gradient(left,  rgba(0,162,227,0) 0%,rgba(0,162,227,0.25) 46%,rgba(0,162,227,1) 48%,rgba(0,162,227,1) 50%,rgba(0,162,227,1) 52%,rgba(0,162,227,0.25) 54%,rgba(0,162,227,0) 100%);
background: linear-gradient(to right,  rgba(0,162,227,0) 0%,rgba(0,162,227,0.25) 46%,rgba(0,162,227,1) 48%,rgba(0,162,227,1) 50%,rgba(0,162,227,1) 52%,rgba(0,162,227,0.25) 54%,rgba(0,162,227,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000a2e3', endColorstr='#0000a2e3',GradientType=1 );
*/
}

.schedule {
    display: none;
}

.connection {
    height: 22px;
    background-color: transparent;
    position: absolute;
    z-index: 10;
}

.connection--gold-line {
    /*background-color: yellow;*/
}

.connection--red-line {
    /*background-color: red;*/
}

.connection--green-line {
    background-color: green;
}

.connection--blue-line {
    background-color: blue;
}

.connection--gold-or-red-line {
    background-color: white;
    border-top: 15px solid red;
    border-bottom: 15px solid yellow;
    height: 5px;
}

.connection--green-or-blue-line {
    background-color: white;
    border-top: 20px solid blue;
    border-bottom: 20px solid green;
    height: 5px;
}

.train-key {
    float: right;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

#time-saved {
    position: absolute;
    right: 2.5%;
    top: 15px;
    width: 30%;
}

#time-saved-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#time-saved-amount {
    position: absolute;
    right: 0;
    top: 20px;
    width: 100%;
    font-size: 20px;
}

#time-saved-amount.faster {
    color: green;
}

#time-saved-amount.slower {
    color: red;
}

#time-saved .btn {
    top: 5px;
    left: 120px;
    position: absolute;
    z-index: 9999;
}

#time-saved .btn.new-data {
    top: 5px;
    left: 210px;
    position: absolute;
    z-index: 9999;
}

#time-saved .btn.info {
    top: 5px;
    left: 300px;
    position: absolute;
    z-index: 9999;
}

.platform-time, .additional-time {
    position: absolute;
    top: 5px;
    height: 6px;
    background-color: black;
}

.platform-time.faster {
    background-color: #000000;
}

.additional-time {
    background-color: red;
}

.wait-time-label {
    display: none;
    background-color: white;
    text-align: center;
    position: relative;
    top: -70px;
    left: 10px;
    z-index: 100;
    width: 150px;
}

.result {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 18px;
    margin-top: -5px;
    background-color: white;
}

.result.faster {
    color: green;
}

.result.slower {
    color: red;
}

#departure-times {
    border-collapse: separate;
    border-spacing: 0 0.4em;
    border: 0px solid transparent;
}

#departure-times td {
    padding: 5px;
}

.station {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
}

.station--red-line {
    background-color: red;
    background-color: #ff7c7c;
    /*color: white;*/
}

.station--gold-line {
    background-color: #f8b951;
}

/*
.connection--gold-line .train-begin, .connection--gold-line .train-end {
    border-color: #f8b951;
}

.connection--gold-line .train-middle {
    background-color: #f8b951;
}

.connection--red-line .train-begin, .connection--red-line .train-end {
    border-color: red;
}

.connection--red-line .train-middle {
    background-color: red;
}
*/

.route-label {
    font-weight: bold;
    position: absolute;
    left: 10px;
    line-height: 30px;
}

.station--origin, .station--destination {
    position: absolute;
    font-weight: bold;
    left: 100px;
}

.station--destination {
    left: 140px;
}

.visualization-wrap {
    margin-left: 200px;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    height: 30px;
}



